In [2]:
import networkx as nx
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../data/escorts.txt', delim_whitespace=True, index_col=False)

In [4]:
df_no_time = df.drop('timestamp', axis=1)
df_no_time

          n1    n2  e
0          1     1  0
1          1     2  1
2          1     3  0
3          2     1  0
4          3     4  0
...      ...   ... ..
50627   8491  6621  0
50628   9136  6622  1
50629   6325  6456  1
50630  10105  6623  1
50631  10106  6624 -1

[50632 rows x 3 columns]

In [5]:
G = nx.from_pandas_edgelist(df_no_time, 'n1', 'n2', 'e')